.blog_big-card_component .quiz_card_button,
.blog_card_component .quiz_card_button {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.blog_big-card_component:hover .quiz_card_button,
.blog_card_component:hover .quiz_card_button {
  opacity: 1;
}

.blog_big-card_component .quiz_card_button-text,
.blog_card_component .quiz_card_button-text {
  transform: translateX(-1rem);
  transition: transform 0.2s ease-out;
}

.blog_big-card_component:hover .quiz_card_button-text,
.blog_card_component:hover .quiz_card_button-text {
  transform: translateX(0rem);
}

.quiz_card_icon-wrapper {
  scale: 1;
  transition: scale 0.2s ease-out;
}

.quiz_card_button:hover .quiz_card_icon-wrapper {
  scale: 1.1;
  background-color: var(--background-color--background-primary);
}
