.quiz_card_component .quiz_card_button,
.quiz_small-card_component .quiz_card_button,
.livre-blanc_component .quiz_card_button {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.quiz_card_component:hover .quiz_card_button,
.quiz_small-card_component:hover .quiz_card_button {
  opacity: 1;
}

.quiz_card_component .quiz_card_button-text,
.quiz_small-card_component .quiz_card_button-text {
  transform: translateX(-1rem);
  transition: transform 0.2s ease-out;
}

.quiz_card_component:hover .quiz_card_button-text,
.quiz_small-card_component:hover .quiz_card_button-text {
  transform: translateX(0rem);
}

.blog_big-card_component .blog_big-card_asset {
  scale: 1.05;
  transition: scale 0.2s ease-out;
}

.blog_big-card_component:hover .blog_big-card_asset {
  scale: 1;
}

.blog_card_component .blog_card_asset {
  scale: 1.05;
  transition: scale 0.2s ease-out;
}

.blog_card_component:hover .blog_card_asset {
  scale: 1;
}

/* Livre Blanc */

/* .livre-blanc_component .quiz-card_button {
  opacity: 0;
  transition: opacity 0.2s ease-out;
} */

.livre-blanc_component:hover .quiz_card_button {
  opacity: 1;
}
